export ROOT="$(pwd)"

# 11ty specific
export INPUT="_11ty"
export INCLUDES="$INPUT/_includes"
export DATA="$INPUT/_data"
export OUTPUT="_build_"

# Own plugins and collections
export PLUGINS="_11ty-plugins"
export COLLECTION="_11ty-collection"

# Lorri
eval "$(lorri direnv --shell-file ./nix/shell.nix)"
