export ROOT="$(pwd)"

# 11ty specific
export INPUT="$ROOT/_11ty"
export INCLUDES="$INPUT/_includes"
export DATA="$INPUT/_data"
export OUTPUT="$ROOT/_build_"

# Own plugins and collections
export PLUGINS="$ROOT/_11ty-plugins"
export COLLECTION="$ROOT/_11ty-collection"

# Lorri
eval "$(lorri direnv --shell-file ./nix/shell.nix)"
