export _ROOT="$(pwd)"

# 11ty specific
export _INPUT="$_ROOT/_11ty"
export _INCLUDES="$_INPUT/_includes"
export _DATA="$_INPUT/_data"
export _OUTPUT="$_ROOT/_build_"

# Own plugins and collections
export _PLUGINS="$_ROOT/_11ty-plugins"
export _COLLECTION="$_ROOT/_11ty-collection"

# Lorri
eval "$(lorri direnv --shell-file ./nix/shell.nix)"
